.header{
    display: flex;
    align-items: center;

}

.header > span{
    font-size: 1em;
    font-weight: 300;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .logo {
    width: 70px;
}

.header .titleGroup{
    padding-left: 25px;
}

.header .titleGroup i{
    padding-right: 5px;
}